# =========================
# ROOT & SECRETS
# =========================
.env
.env.local
.env.*.local
*.pem

# =========================
# FRONTEND (Angular)
# =========================
frontend/node_modules/
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out/
frontend/.angular/
frontend/coverage/
frontend/.sass-cache/
frontend/connect.lock/
frontend/testem.log
frontend/typings/
frontend/__screenshots__/
frontend/*.tsbuildinfo

# Logs JS
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# Gestion fine de VS Code pour le Frontend
frontend/.vscode/*
!frontend/.vscode/settings.json
!frontend/.vscode/tasks.json
!frontend/.vscode/launch.json
!frontend/.vscode/extensions.json
!frontend/.vscode/mcp.json
frontend/.history/*

## =========================
# BACKEND (Spring Boot / Java)
# =========================
backend/**/HELP.md
backend/**/target/
backend/**/build/
backend/**/.mvn/wrapper/maven-wrapper.jar

# Exceptions for Spring
!backend/**/src/main/**/target/
!backend/**/src/test/**/target/
!backend/**/src/main/**/build/
!backend/**/src/test/**/build/

# =========================
# OS & IDE (VS Code, IntelliJ, Eclipse, NetBeans)
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.log